.bgPage { background: #f5f3f2; }
.colorWhite { color: #fff; }
.colorBlack { color: #000; }

.bgLightGray    { background: #dfdad8; }
.colorLightGray { color: #dfdad8; }
.bgGray    { background: #b9b0ac; }
.colorGray { color: #b9b0ac; }

.bgLightViolett    { background: #efccd8; }
.colorLightViolett { color: #efccd8; }
.bgViolett    { background: #e0a5bb; }
.colorViolett { color: #e0a5bb; }
.bgDarkViolett     { background: #a31562; }
.colorDarkViolett  { color: #a31562; }
.borderDarkViolett { border: #a31562 2px solid; }

.bgLightOrange    { background: #fbd4b3; }
.colorLightOrange { color: #fbd4b3; }
.bgOrange    { background: #fab578; }
.colorOrange { color: #fab578; }
.bgDarkOrange    { background: #f47216; }
.colorDarkOrange { color: #f47216; }

.bgLightYellow    { background: #fde7a0; }
.colorLightYellow { color: #fde7a0; }
.bgDarkYellow    { background: #f9c108; }
.colorDarkYellow { color: #f9c108; }

.bgLightGreen    { background: #e0efc2; }
.colorLightGreen { color: #e0efc2; }
.bgGreen    { background: #c4db8d; }
.colorGreen { color: #c4db8d; }
.bgDarkGreen    { background: #82b829; }
.colorDarkGreen { color: #82b829;}

.bgLightBlue    { background: #00ace2; }
.colorLightBlue { color: #00ace2; }
.bgBlue    { background: #36aee8; }
.colorBlue { color: #36aee8; }
.bgDarkBlue    { background: #48a8e2; }
.colorDarkBlue { color: #48a8e2; }

* {
box-sizing: border-box;
}

html,
body {
margin: 0;
padding: 0;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
min-height: 1280px;
font-size: 24px;
}

p,
h1,
h2,
h3,
h4,
a {
margin: 0;
font-weight: 400;
}

a,
a:visited,
a:hover {
color: teal;
text-decoration: none;
border-bottom: 2px solid currentColor;
}

nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: baseline;
-ms-flex-align: baseline;
align-items: baseline;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
padding: 1rem;
padding-right: 5rem;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

/*.nav__examples {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: baseline;
-ms-flex-align: baseline;
align-items: baseline;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-top: 1rem;
}

.nav__examples > * {
margin-right: 0.5rem;
}*/

#intro {
max-width: 40rem;
margin: 1rem auto;
text-align: center;
}

#intro h1 {
	font-size: 2em;
	margin: 2rem auto 0.5rem auto;
}

#intro p {
}

#intro small {
	font-size: .5em;
}

.github-corner:hover .octo-arm {
animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
0%,
100% {
transform: rotate(0);
}

20%,
60% {
transform: rotate(-25deg);
}

40%,
80% {
transform: rotate(10deg);
}
}

@media (max-width: 500px) {
.github-corner:hover .octo-arm {
animation: none;
}

.github-corner .octo-arm {
animation: octocat-wave 560ms ease-in-out;
}
}

#intro {
}

#outro {
height: 80vh;
}

@media (min-width: 840px) {
/*  .nav__examples {
margin-top: 0;
margin-left: 2rem;
}*/
}	




#scrolly {
	position: relative;
	padding: 0;
}

article {
	background: #b9b0acc0;
	position: relative;
	padding: 10px;
	max-width: 20rem;
	margin: 0 0 0 auto;
	right: 0;
	transition: all 400ms ease-in;
}

article.small {
	pointer-events: none;
	right: -19rem;
}

figure {
	background-color: #8a8a8a;
	left: 0;
	margin: 0;
	position: -webkit-sticky;
	position: sticky;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 100%;
	z-index: 0;
}

figure .overMap {
	border:.2rem solid #ffffff80;
	border-radius: 0 0 1rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	position: absolute;
	right: 21.5rem;
	text-align: center;
	top: 50vh;
	-moz-transform: translate(50%, 0) rotate(90deg);
	-webkit-transform: translate(50%, 0) rotate(90deg);
	transform: translate(50%, 0) rotate(90deg);
	transition: all 400ms ease-in;
	z-index: 501;
}
figure .overMap.small {
	right: 2.5rem;
}
figure .overMap span {
	display: none;
	padding: 1rem;
}
figure .overMap span.show {
	display: block;
}

figure [data-quickinfo="box"] {
	border:.2rem solid #ffffff80;
	display: none;
	font-size: 1rem;
	left: 2rem;
	margin-top: -.2rem;
	position: absolute;
	right: 22rem;
	z-index: 500;
}
figure [data-quickinfo="box"] h3 {
	font-size: 1rem;
	font-weight: 900;
	padding: 1rem .5rem;
	text-align: center;
}
figure [data-quickinfo="box"] .content {
	padding: .5rem;
}
figure [data-quickinfo="box"] [data-quickinfo="close"] {
	border:.2rem solid #ffffff80;
	border-radius: 0 0 1rem 1rem;
	left: 50%;
	padding: .5rem;
	position: absolute;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.empty {
	height: 1.3rem;
}
.bold {
	font-weight: 900;
}

.step {
	margin: 0 auto 2rem auto;
	box-shadow: 0 0 5px 0px #888;
}
.step:last-child {
	margin-bottom: 0;
}

.step h2 {
	text-align: center;
	margin: 0;
	padding: 1rem;
	font-size: 1.5rem;
}
.step p {
	font-size: 1rem;
	padding: 1rem;
}
